*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-header{
    background-color: #2b3a46;
}

header img{
    height: 50px;
}

.bg-main{
    background-color: #192d3b;
}

main h4{
    font-size: 1.3rem !important;
}

.text-card{
    color: #808078;
}

.pb-card{
    min-height: 385px;
}